body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #00c57b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

th,
td {
  padding: 10px; }

.container {
  background-color: #fff;
  padding: 10px 20px;
  max-width: min-content;
  white-space: nowrap;
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 600px; }
  @media only screen and (max-width: 715px) {
    .container {
      overflow-x: auto; } }
  .container__table {
    width: 100%; }
    .container__table-header {
      justify-content: space-between;
      border-bottom: 2px solid #000; }
      .container__table-header span {
        cursor: pointer; }
  .container__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto 0 10px 0; }
    @media only screen and (max-width: 715px) {
      .container__buttons {
        justify-content: flex-start; } }
    .container__buttons-btn {
      padding: 10px;
      background-color: #6c757d;
      color: #fff;
      border-radius: 3px;
      border: none;
      cursor: pointer; }
      @media only screen and (max-width: 715px) {
        .container__buttons-btn:first-child {
          margin-right: 20px; } }

.county-name {
  font-weight: bold; }

#tableBody td:not(:first-child) {
  text-align: right; }

#tableBody tr {
  border-bottom: 2px solid #dee2e6; }
